:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	font-size: 18px;
	text-align: left;
}

thead tr {
	background-color: #009879;
	color: #ffffff;
	text-align: left;
}

th,
td {
	padding: 12px 15px;
	border: 1px solid #dddddd;
}

th {
	position: relative;
}

th input,
th select {
	margin-top: 10px;
	width: 90%;
}

tbody tr {
	border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
	background-color: #f3f3f3af;
}

tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

tbody tr:hover {
	background-color: #4b2525;
}

table thead th div {
	display: flex;
	align-items: center;
}

.resizer{
	display: inline-block;
	width: 5px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(50%);
	z-index: 1;
	touch-action: none;
	cursor: col-resize;
}
.resizer:hover{
	background-color: #5e69ee;
}
.resizer.isResizing{
	background-color: #8dcf3f;
}

